<div *appLoading="isSubmitting"></div>
<div fxLayoutAlign="center">
  <form [formGroup]="addIngredientsForm" (ngSubmit)="submit()" fxLayout="column" fxFlex="100%" fxFlex.gt-md="70%">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" type="text"/>
      <mat-error *ngIf="addIngredientsForm.get('name').errors?.required">
        Name is required
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="listOfCategories">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let category of listOfCategories" [value]="category">
          {{category}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div fxLayoutAlign="center">
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
  </form>
</div>
