<div *appLoading="isSubmitting"></div>
<div fxLayoutAlign="center">
  <form [formGroup]="addIngredientsForm" (ngSubmit)="submit()" fxLayout="column" fxFlex="100%" fxFlex.gt-md="70%">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" type="text"/>
      <mat-error *ngIf="addIngredientsForm.get('name').errors?.required">
        Name is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Category</mat-label>
      <input matInput formControlName="category" type="text"/>
      <mat-error *ngIf="addIngredientsForm.get('category').errors?.required">
        Category is required
      </mat-error>
    </mat-form-field>
    <div fxLayoutAlign="center">
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
  </form>
</div>
