<h3>Add new expenses</h3>
<mat-vertical-stepper linear>
  <mat-step label="Upload an invoice" [stepControl]="addExpensesForm.controls.invoice">
    <app-upload-invoice [uploadInvoiceForm]="addExpensesForm"></app-upload-invoice>
  </mat-step>
  <mat-step label="Add expenses" [stepControl]="addExpensesForm.controls.expenses">
    <app-add-expenses [addExpensesForm]="addExpensesForm"></app-add-expenses>
    <button mat-mini-fab (click)="addRow()"><mat-icon>add</mat-icon></button>
  </mat-step>
  <mat-step label="Review and confirm">
  </mat-step>
</mat-vertical-stepper>
