# OS
# ===========
.DS_Store
ehthumbs.db
Thumbs.db
.env
TODO.md
mongodb.conf

# Node and related ecosystem
# ==========================
.nodemonignore
.sass-cache/
node_modules/
public/lib/
app/tests/coverage/
.bower-*/
.idea/
coverage/
data
