<div fxLayout="column" fxLayoutGap="50px" fxLayoutAlign="space-evenly start">
  <form fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" [formGroup]="uploadInvoiceForm">
    <button mat-flat-button (click)="inputFile.click()" color="primary">Choose file from device</button>
    <div>{{fileToUpload?.name}}</div>
  <input style="display: none" #inputFile type="file" (change)="selectFile($event)" formControlName="invoice"
         accept="image/jpeg, image/png"/>
  </form>
  <button mat-flat-button color="primary" matStepperNext [disabled]="!fileToUpload">Next</button>
</div>
