<div *appLoading="isSubmitting"></div>
<div fxLayoutAlign="center">
  <form (ngSubmit)="submit()" fxLayout="column" fxFlex="100%" fxFlex.gt-md="70%">
    <h2>Add a new category</h2>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="category" name="category" type="text"/>
      <mat-error *ngIf="category.length === 0">
        Name is required
      </mat-error>
    </mat-form-field>
    <div fxLayoutAlign="center">
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
  </form>
</div>

