.profile-pic {
  width: 100px;
  height: 100px;
}

.buttons {
  margin: 20px 0;
}

mat-card {
  width: 500px
}

mat-card img {
  background-color: black;
  object-fit: cover;
}

mat-card-content {
  margin: 20px 40px;
}

input:read-only {
  color: #a7a1a1;
}

.edit {
  cursor: pointer;
}
