.table-parent {
  min-width: 600px;
  overflow-x: auto;
}

table {
  width: 100%;
}

.last-updated {
  margin: 20px 0 0 20px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: auto;
}

.mat-cell {
  text-align: left;
}

.clickable {
  cursor: pointer;
}

.hidden-row {
  height: 0;
}

.expanded-row {
  overflow: hidden;
}

.expanded-detail {
  padding: 10px 0;
  margin: 50px 0;
}

.mr-4px {
  margin-right: 4px;
}

.mb-5px {
  margin-bottom: 5px;
}

span {
  cursor:pointer;
  color:blue;
  text-decoration:underline;
}

span:hover {
  text-decoration:none;
  text-shadow: 1px 1px 1px #555;
}
