/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$text-color-1: aliceblue;
$error-color: indianred;
$success-color: forestgreen;

$padding-1: 16px;

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  min-height: 100vh;
}

.error-snackbar {
  background-color: $error-color;
}

.success-snackbar {
  background-color: $success-color;
}
