<mat-selection-list *appLoading="!users" [multiple]="false">
  <div mat-subheader>Managers</div>
  <mat-list-option *ngFor="let manager of managers" [value]="manager._id">
    <div mat-line>{{manager.name}}</div>
    <div mat-line>{{manager.role}}</div>
  </mat-list-option>
  <mat-divider></mat-divider>
  <div mat-subheader>Employees</div>
  <mat-list-option *ngFor="let employee of employees" [value]="employee._id">
    <div mat-line>{{employee.name}}</div>
    <div mat-line>{{employee.role}}</div>
  </mat-list-option>
</mat-selection-list>
