<div *appLoading="isLoading"></div>
<div *ngIf="listOfIngredients">
<ul *ngFor="let ingredient of listOfIngredients">
    <li>{{ingredient.name}} - {{ingredient.category}} - {{ingredient.lastPurchased?.displayDate() || 'Never'}}</li>
  </ul>
</div>
<div *ngIf="!listOfIngredients">
  No ingredients yet
</div>
<a mat-raised-button (click)="addNewIngredient()">Add a new ingredient</a>
<a mat-raised-button (click)="addNewCategory()">Add a new category</a>
<ol *ngIf="listOfCategories">
  <li *ngFor="let category of listOfCategories">
    {{category}}
  </li>
</ol>
