<h2>Edit profile picture?</h2>
<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" *appLoading="isLoading">
  <div class="container">
    <img [src]="imageToUpload || currentImageUrl || './assets/default_avatar.png'" alt="Profile pic"
         class="profile-pic"/>
    <a mat-mini-fab (click)="inputFile.click()" class="edit-icon" color="primary">
      <mat-icon>edit</mat-icon>
    </a>
  </div>
  <input style="display: none" #inputFile type="file" (change)="selectFile($event)" accept="image/jpeg, image/png"/>

  <div fxLayout="row" fxLayoutGap="10px">
    <a mat-flat-button color="primary" *ngIf="imageToUpload" (click)="uploadFile()">Upload</a>
    <a mat-stroked-button color="warn" *ngIf="imageToUpload" (click)="cancel()">Cancel</a>
  </div>
  <mat-progress-bar *ngIf="uploadProgress > 0" mode="determinate" [value]="uploadProgress"></mat-progress-bar>
</div>
