.profile-pic {
  width: 200px;
  height: 200px;
  display: block;
  background-color: black;
  object-fit: cover;
  border-radius: 50%;
}

.container {
  position: relative;
}

.edit-icon {
  position: absolute;
  bottom:0;
  right:0;
}
