<div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-evenly stretch">
  <form [formGroup]="addExpensesForm" fxFlex>
    <table>
      <thead>
      <tr>
        <th></th>
        <th>Item</th>
        <th>Supplier</th>
        <th>Amount</th>
        <th>Unit</th>
        <th>Price/Unit</th>
        <th>Total price</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <ng-container formArrayName="expenses"
                    *ngFor="let expense of addExpensesForm.get('expenses')['controls']; let i = index;">
        <tr [formGroupName]="i">
          <td class="table-row-number">
            <mat-icon color="warn" *ngIf="addExpensesForm.controls.expenses['controls'][i].invalid">error</mat-icon>
            <mat-icon class="green-check" *ngIf="addExpensesForm.controls.expenses['controls'][i].valid">check_circle
            </mat-icon>
          </td>
          <td>
            <div class="item-input">
              <mat-select formControlName="item">
                <input matInput (keyup)="onKey($event.target.value)" placeholder="Search" class="search-input" autocomplete="off"/>
                <cdk-virtual-scroll-viewport *ngIf="listOfIngredients?.length > 0" [itemSize]="48"
                                             [style.height.px]="(listOfIngredients.length > 5 ? 5 : listOfIngredients.length)*48">
                  <mat-option *cdkVirtualFor="let ingredient of selectedIngredients" [value]="ingredient.name">
                    {{ingredient.name}}
                  </mat-option>
                  <mat-option *ngIf="selectedIngredients.length === 0" disabled>
                    No entries match the search query
                  </mat-option>
                </cdk-virtual-scroll-viewport>
                <mat-option *ngIf="listOfIngredients?.length === 0" disabled>
                  No ingredients yet
                </mat-option>
              </mat-select>
            </div>
          </td>
          <td>
            <div><input formControlName="supplier" type="text"/></div>
          </td>
          <td>
            <div><input formControlName="amount" type="number" (focus)="changeLastChanged('amount')"
                        (ngModelChange)="onAmountChange(i)"/></div>
          </td>
          <td>
            <div class="auto-width">
              <mat-select formControlName="unit">
                <mat-option *ngFor="let unit of unitsOfMeasurement" [value]="unit">
                  {{unit}}
                </mat-option>
              </mat-select>
            </div>
          </td>
          <td>
            <div><input formControlName="pricePerUnit" (focus)="changeLastChanged('pricePerUnit')"
                        (ngModelChange)="onPricePerUnitChange(i)" type="number"/></div>
          </td>
          <td>
            <div><input formControlName="totalPrice" type="number" (focus)="changeLastChanged('totalPrice')"
                        (ngModelChange)="onTotalPriceChange(i)"/></div>
          </td>
          <td class="table-row-number">
            <mat-icon (click)="emitRemoveRow(i)" class="clickable" color="warn">delete</mat-icon>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </form>
  <div fxLayout="row" fxLayoutAlign="end">
    <button mat-mini-fab (click)="emitAddRow()" color="accent">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
    <button mat-stroked-button color="accent" matStepperPrevious type="button">Previous</button>
    <button mat-flat-button color="primary" matStepperNext [disabled]="!addExpensesForm.controls.expenses.valid"
            type="button">Next
    </button>
  </div>
</div>
