<div fxFlex fxLayout="column" fxLayoutAlign="center center" *appLoading="isLoading">
  <h4>Daily expenses</h4>
  <canvas *ngIf="chartData[0].data.some(greaterThanZero)" baseChart
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
          [colors]="[{borderColor: 'black',backgroundColor: 'rgba(0,0,0,0)'}]"
          [legend]="false"
          chartType="line">
  </canvas>
  <div *ngIf="chartData[0].data.filter(greaterThanZero).length === 0">No expenses to show</div>
</div>
