<div fxLayoutAlign="center center">
  <form [formGroup]="editProfileForm" (ngSubmit)="submit()" fxLayout="column" fxFlex="100%" fxFlex.gt-md="70%">
    <h2>Edit profile</h2>
    <mat-form-field>
      <mat-label>Date of birth</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error
        *ngIf="editProfileForm.get('dateOfBirth').hasError('required')">
        DoB is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Job title</mat-label>
      <input matInput formControlName="jobTitle" type="text"/>
      <mat-error
        *ngIf="editProfileForm.get('jobTitle').hasError('required')">
        Job title is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput formControlName="address" type="text"/>
      <mat-error
        *ngIf="editProfileForm.get('address').hasError('required')">
        Address is required
      </mat-error>
    </mat-form-field>
    <div fxLayoutAlign="center">
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
    <div *appLoading="submitting"></div>
  </form>
</div>
